.box{
  border: 1px solid;
  height: 26.6rem;
  display: flex;
}

.box1, .box1, .box1{
  border: 1px solid;
  flex: 1;
  font-size: x-large;
  background-color: aquamarine;
}

.mid{
  display: flex;
  border: 1px solid;
  height: 17rem;
}

.mid1, .mid2{
  border: 1px solid;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down{
  display: flex;
  border: 1px solid;
  height: 19.5rem;
  font-size: 30x;

}